.features {
  @media screen and (min-width: $third-bp) {
    padding-bottom: 47px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $first-bp) {
    margin-top: -30px;
    margin-left: -30px;
  }

  // max-width: 100%;
}

.features-list__item {
  max-width: 480px;
  margin: 0 auto;

  @media screen and (min-width: $first-bp) {
    margin-top: 30px;
    margin-left: 30px;
    max-width: calc(100% / 2 - 30px);

    text-align: left;
  }

  @media screen and (min-width: $third-bp) {
    margin-top: 30px;
    margin-left: 30px;
    max-width: calc(100% / 4 - 30px);
  }
}

.features__icon-container {
  margin-bottom: 30px;
  padding: 25px 0;
  border-radius: 4px;

  background-color: $third-bg-color;
}

.features__title-t3 {
  margin-bottom: 10px;

  @media screen and (min-width: $first-bp) {
    text-align: left;
  }
}

.features__icon {
  margin: 0 auto;
}

.features-content {
  text-align: center;
}

.fearures__text {
  text-align: left;
}
