// === СЕКЦИЯ С ОСОБЕННОСТЯМИ ===

// всего 4 особенности состоящие из 1) иконки на сером фоне 2) заголовка с названием особенности 3) текст особенности

// кастомный отступ потому что с стандарным падингом в 94px слишком большой отступ между контентом секции "особенности" и "чем мы занимаемся"
.features {
  padding-bottom: 47px;
}

// отступ от заголовка
.features__title-t3 {
  margin-bottom: 10px;
}

//иконка на сером фоне над текстом особеностей, без эфектов ховера/фокуса поэтому заполнение указанно прямо в спрайте
.features__icon {
  margin-bottom: 30px;
  padding: 25px 100px;

  border-radius: 4px;

  text-align: center;

  background-color: $third-bg-color;
}

// текст особенности под иконкой
.features-content {
  width: 270px;
}
