// === ФУТЕР ===

// внутрение отступы футера + фоновый цвет
.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-bg-color;

  @media screen and (min-width: $third-bp) {
    text-align: left;
  }
}

.footer__container {
  @media screen and (min-width: $second-bp) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (min-width: $third-bp) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

// кастомные свойства для логотипа в футере
.footer__logo {
  margin-bottom: 20px;

  display: inline-block;

  color: $third-text-color;
}

// стиль для ссылок раздела адрес в футере
.address__link {
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    text-decoration: underline;

    // color: var(--accent-color);
  }
}

// отступы между контактами в футере + кастомный стиль для ссылки на физ. адрес
.address__list-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
  &:first-child .address__link {
    color: $third-text-color;
  }
}

// заголовки "призывы" в футере
.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;

  color: $third-text-color;
}

.company-socials,
.footer__contacts {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 2);

  @media screen and (min-width: $third-bp) {
    flex-grow: 0;
    flex-basis: initial;
  }
}

// отступ от секции с контактами
// отступ между списком ссылок на соц. страницы компании и подпиской на спам
.footer__contacts,
.footer__company-socials {
  margin-bottom: 60px;

  @media screen and (min-width: $third-bp) {
    margin-bottom: 0;
  }
}

// отступы между ссылками(кнопками) на страницы в соц. сетях компании в футере
.company-socials__list {
  display: flex;
  justify-content: center;

  @media screen and (min-width: $third-bp) {
    justify-content: left;
  }
}

.company-socials__item:not(:last-child) {
  margin-right: 10px;
}

// стиль ссылки(кнопки) на страницы компании в соц. сетях
.company-socials__link {
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.spam-trap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media screen and (min-width: $third-bp) {
    flex-grow: 0;
  }
}

// цвет иконок соц. сетей в футере
.company-socials__icon {
  fill: #ffffff;
}

.subscribe-form {
  @media screen and (min-width: $third-bp) {
    display: flex;
  }
}

// стиль поля ввода имейла для подписки на рассылку
.subscribe-form__input {
  display: block;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 480px;
  height: 50px;

  color: $third-text-color;

  background-color: $secondary-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @media screen and (min-width: $third-bp) {
    margin-right: 12px;
    margin-left: 0;
    margin-bottom: 0;

    width: 358px;
    max-width: none;
  }
}

.footer__button {
  padding: 10px 29px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.footer__button-icon {
  margin-left: 10px;
}
