// === ХЕДЕР ===
.header {
  border-bottom: 1px solid $border-color;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.header__logo {
  margin-right: 88px;
}

.header-container {
  padding-left: 15px;
  padding-right: 15px;

  padding-top: 16px;
  padding-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $second-bp) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// навигация по сайту, позиционирование горизонтально
.navigation {
  display: flex;
  align-items: baseline;

  @media screen and (min-width: $third-bp) {
    align-items: center;
  }
}

.navigation__list {
  @extend .navigation;
  width: 294px;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation__list-item {
  position: relative;

  // &:not(:last-child) {
  // }
}

// оформление ссылок(кнопок) навигации, статично + при ховере/фокусе смена цвета
.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;

  color: $secondary-text-color;

  transition-property: color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// спрятаны на мобильном, заменены открывающимся меню
.header__contacts {
  display: none;

  margin-top: -10px;
  margin-left: -30px;

  @media screen and (min-width: $second-bp) {
    display: block;
  }

  @media screen and (min-width: $third-bp) {
    display: flex;
  }
}

// оформление контактов в хедере + смена цвета текста и иконки рядом при ховере/фокусе (ссылки на имейл и номер)
.header__contacts-link {
  // padding-top: 32px;
  // padding-bottom: 32px;

  display: flex;
  align-items: center;

  color: $main-text-color;

  transition-property: color;
}

.header__contacts-item {
  margin-top: 10px;
  margin-left: 30px;

  &:not(:last-child) {
    @media screen and (min-width: $third-bp) {
      margin-right: 20px;
    }
  }
}

.header__contacts-link {
  &:hover,
  &:focus,
  &:hover .header__contacts-icon,
  &:focus .header__contacts-icon {
    fill: $accent-color;

    color: $accent-color;
  }
}

// иконки конверт и смартфон рядом с ссылками контактами в хедере
.header__contacts-icon {
  margin-right: 10px;

  fill: $main-text-color;

  transition-property: fill;
}

.menu-open-btn {
  background: none;
  border: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: $second-bp) {
    display: none;
  }
}

// отдельный класс для подсвечивания + нижнего подчеркивания на ссылку в навигации которая соответствует открытой странице
.is-current {
  color: $accent-color;

  @media screen and (min-width: $second-bp) {
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: -1px;

      width: 100%;
      height: 4px;

      border-radius: 2px;

      background-color: $accent-color;
    }
  }
}
