// ========== МОДАЛЬНОЕ ОКНО ==========
// контейнер модального окна без бекдропа
.window {
  padding: 40px;

  position: relative;
  left: 50%;
  top: 50%;

  overflow-y: auto;

  max-width: 450px;
  max-height: 100%;

  background-color: $main-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
}

// заголовок для модальных окон
.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $modal-color;
}

// форма для заполнения в модальном окне
.window__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// отступ между чекбоксом и кнопкой
.window__checkbox-container {
  margin-bottom: 30px;
}

// кастомные свойства для кнопки в модальном окне на главной странице
.window__button {
  padding: 10px 55px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $secondary-accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// отступы между полями для заполнения в модальном окне
.window__form-field {
  margin-bottom: 10px;

  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

// ========== ПОЛЯ ВВОДА ==========

// форма в модальном окне для заполнения информации клиентом
.form-field {
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

// стиль названия поля для заполнения
.form-field__text {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

// стилизация поля для заполнения
.form-field__input {
  /* padding: 0 42px; */
  padding-left: 42px;
  padding-right: 15px;

  // max-width: 448px;
  height: 40px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: fill, border-color;
}

// модификатор для поля ввода большого коментария
.form-field__input--comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

// обертка поля для заполнения для позиционирования иконок внутри
.form-field__content {
  position: relative;

  max-height: 120px;
}

// иконка поля для заполнения
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  fill: $modal-color;

  transform: translateY(-50%);
  transition-property: fill, border-color;
}

// подсветка полей для заполнения и иконок внутри при ховере/фокусе
.form-field:hover .form-field__icon,
.form-field:hover .form-field__input,
.form-field:focus-within .form-field__icon,
.form-field:focus-within .form-field__input {
  border-color: $accent-color;

  fill: $accent-color;
  cursor: pointer;

  outline-color: $accent-color;
}

// ========== ЧЕКБОКС ОЗНАКОМЛЕНИЯ ==========
// кастомный чекбокс для поддтверждения ознакомления с чем-то + ссылка на это же что-то

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.checkbox__custom {
  margin-right: 9px;

  max-width: 16px;
  max-height: 15px;

  border: 2px solid $modal-color;
  border-radius: 2px;

  background: $main-bg-color;
  cursor: pointer;

  transition-property: background-color, border-color;
}

.checkbox__custom:hover {
  border-color: $accent-color;
}

.checkbox__input:checked ~ .checkbox__custom {
  max-width: 16px;
  max-height: 15px;

  border: none;
  border-radius: 2px;

  background-color: $accent-color;
  background-size: contain;
  background-origin: border-box;
}

.checkbox__terms-link {
  color: $accent-color;

  text-decoration: underline;

  transition-property: color;
}
