//  === карточка из портфолио ===

// ссылка карточки для ридеректа куда-то
.card__link {
  display: block;

  color: inherit;

  //  стилизация при ховере и фокусе, только ссылки могут быть в фокусе в карточке
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

// название продукта в карточке
.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $secondary-text-color;
}

// контейнер относительно которого позиционируется выезжающий блок с описанием
.card__top {
  position: relative;
  overflow: hidden;
}

// скрытый блок с описанием, выезжает при ховере карточки
.card__description {
  position: absolute;
  overflow-x: auto;

  padding: 63px 24px;

  width: 100%;
  height: 100%;

  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;

  color: $third-text-color;
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
}

// при ховере карточки (ссылка обхватывает всю область карточки и только ссылка может быть объектом фокуса) выезжает блок с описанием
.card__link:hover .card__description,
.card__link:focus .card__description {
  transform: translateY(-294px);
}

// нижняя часть карточки с названием карточки и значением для фильтра
.card__bottom {
  padding: 24px 20px;

  text-align: left;
  font-size: 16px;
  line-height: 1.8;

  border: 1px solid $border-color;
  border-top: 0;
}
