// === СЕКЦИЯ "ПОРТФОЛИО" ===

// позиционирование фильтра на странице + отступ от самого портфолио
.portfolio__filter {
  margin: 0 auto 56px auto;
}

// сетка элементов портфолио, позиционирование
.portfolio__list {
  margin-top: -30px;
  margin-left: -30px;

  display: flex;
  flex-wrap: wrap;
}

// отступы для позиционирования карточек сетки
.portfolio__list-item {
  margin-top: 30px;
  margin-left: 30px;

  flex-basis: calc(100% / 3 - 30px);
}
