// все буквы верхний регистр
.uppercase {
  text-transform: uppercase;
}

/* секция(падинги) */

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $third-bp) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// общие характеристики "анимации"
.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// спрятать ненужные элементы
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// прячет бекдроп
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

// общие свойства для всей страницы
body {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $main-text-color;
  background-color: $main-bg-color;
}
