// главный заголовок на странице
.title-t1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $third-text-color;

  @media screen and (min-width: $third-bp) {
    font-size: 44px;
    line-height: 1.36;
  }
}

// общие заголовки второго уровня
.title-t2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  color: $secondary-text-color;
}

// общие заголовки третего уровня
.title-t3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;

  color: $secondary-text-color;
}
