// === общие стили заголовков для многократного использования ==

// главный заголовок на странице
.title-t1 {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: $third-text-color;
}

// общие заголовки второго уровня
.title-t2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  color: $secondary-text-color;
}

// общие заголовки третего уровня
.title-t3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;

  color: $secondary-text-color;
}

// заголовок для модальных окон
.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $modal-color;
}
