// палитра цветов используемых на сайте

$main-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$third-bg-color: #f5f4fa;
$main-text-color: #757575;
$secondary-text-color: #000000;
$third-text-color: #ffffff;
$accent-color: #2196f2;
$secondary-accent-color: #188ce8;
$border-color: #eeeeee;
$social-link-main-color: #afb1b8;
$modal-color: #212121;

// шрифты используемые на сайте

$main-font-family: roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;
